<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Star Tech: Code Long And Prosper</title>
        <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/dashboard">Dashboard</a>
     
        <a href="/login" id="login">Login</a>
        <a href="/signup" id="signup">Sign-up</a>
     
        <a  href="/logout" id="logout">Logout</a>
       
    </nav>

    <header>
        <h1>Star Tech</h1>
        <h2>Code Long And Prosper</h2>
    </header>

    <main>
        <div class="blog">
            {{{body}}}
        </div>
    </main>


    <footer>Copyright Thom Williams</footer>

    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>
</html>