{{#if blogs.length}}
<div class="wrapper">
  <div>
    <h3>The Latest Star Tech Blogs...</h3>
  </div>
</div>

{{#each blogs as |blog|}}
<article class="blog-card">
    <div class="blog-title row">
       <a href="/blog/{{blog.id}}">
            <h4>{{blog_title}} ({{format_date date}})</h4> 
        </a>
    </div>

    <div class="blog-content row">
        <p>{{blog_content}}</p>
    </div>

</article>


{{/each}}

{{/if}}

