
<!-- ... all blogs nested beneath -->

{{#if blogs.length}}

<h3>All Current Blogs Admin Page</h3>

{{#each blogs as |blog|}}
<article>

    <div class="blog-title row">
        <h4 href="/single-blog/{{blog.id}}">{{blog_title}}</h4>
        <p>{{username}} || {{date}}</p>
    </div>

</article>

{{/each}}

  <br>

<button class="btn" type="submit">NEW POST</button>

{{/if}}


<script src="/js/new-blog.js"></script>