:root {
    --primary: #1d4375;
    --secondary: #36383b;
    --tertiary: rgb(246, 171, 43);
    --quaternary: rgb(143, 98, 188);
    --quinary: #2566bc;
    --dark: #160b01;
    --light: #e7dfd8;
    }


body {
    font-family: Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-end;
    background-color: var(--primary);
    line-height: 1
  }
  
  a {
    color: var(--quinary);
    text-decoration: none;

  }
  
  a:visited {
    color: var(--quaternary);
  }
  
  header {
    padding: 20px;
    text-align: center;
    background: var(--primary);
    color: var(--light);
  }

  header h1 { 
    align-items: center;
    text-align: center;
    background-color: var(--dark);
    color: var(--light);
    border-radius: 50%;
    border-style: ridge;
    Padding: 15px;
    margin: 10px;
    font-size: 3rem;
    font-family: monospace;
}

h2 {
    text-align: center;
    font-size: 1.5rem;
    font-style:unset;
    color: var(--light);
}
  
main {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-evenly;
    border-radius: 4px;
}

nav {
    display: flex;
    background-color: var(--secondary);
}
  
nav a {
    color: var(--light);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}
  
nav a:hover {
    color: var(--tertiary);
    background-color: var(--dark);
}

.other-blogs h4 {
  padding: 2px;
  padding-top: 10px;
  margin: 2px;
}

.blog {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    min-width: 90%;
    background-color: var(--light);
    border-radius: 4px;
}


.hide {
  display: none;
}

#dashboard-blogs h1 {
  color: black;
  font-size: medium;
  text-align: left;
  padding-left: 5px;
}

#dashboard-blogs h2 {
  color: grey;
  font-size: small;
  text-align: right;
  padding-right: 5px;
  margin-bottom: 10px;
}

#dashboard-blogs {
  border: medium;
  border-color: #1d4375;
}


.form-group {
  padding: 5px;
}

.form-input {
  width: 100%;
  
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.create-btn {
  background: green !important;
  color: white;
  border: none !important;
  padding: 10px !important;
  cursor: pointer;
  text-decoration: none;
  font-size: 100%;
  transition: color 0.1s;
  margin-left: 0px;
  width: 100%;
  
}

.btn-edit {
  background: var(--tertiary) !important;
  color: white;
  width: 90%;
  border: none !important;
  cursor: pointer;
  text-decoration: none;
  font-size: 100%;
  transition: color 0.1s;
  padding: 10px;
  margin-left: 8px;
  margin-right: 8px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-delete
{
  background: rgb(136, 6, 6) !important;
  color: white;
  width: 90%;
  border: none !important;
  cursor: pointer;
  text-decoration: none;
  font-size: 100%;
  transition: color 0.1s;
  padding: 10px;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.comment-btn
{
  background: var(--secondary) !important;
  color: white;
  width: 40%;
  border: none !important;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  transition: color 0.1s;
  padding: 3px;
  margin-top: 0px;
  padding-top: 0px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 5px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn:hover {
  background-color: lightslategrey;
}

.wrapper {
  text-align: center;
  align-content: center;
}


.blog-container {
  margin: 8px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding: 10px;
  padding-top: 2px;
  border-color: var(--secondary);
  border-radius: 5px;
  background-color: white;
}

.comment-content h5 {
  margin: 2px;
  padding: 2px;
  font-size: 10px;
}

.comment-content p {
  margin: 2px;
  padding: 2px;
  font-size: 12px;
}

.posted-comment-container {
  margin: 8px;
  padding: 10px;
  margin-left: 20px;
  margin-right: 15px;
  padding-top: 2px;
  margin-top: 2px;
  margin-bottom: 0px;
  border-color:var(--secondary);
  border-radius: 5px;
  background-color: rgb(237, 237, 237);
  color: rgb(83, 84, 84);

}

.comment-container {
  margin: 8px;
  padding: 10px;
  padding-top: 2px;
  border-color:var(--secondary);
  border-radius: 5px;
  width: 50%;

}


.blog-card {
background-color: white;
margin: 10px;
border-radius: 5px;
padding: 10px;

}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:var(--secondary);
  color: white;
  text-align: center;
  font-size: 10px;
  padding: 2px;
}

